.fa-bell{
    font-size: 28px;
    color: #6C7383;
}
.fa-user{
    font-size: 28px;
    color: #6C7383;
}

.fa-plus{

    font-size: 24px;
}

.fa-calendar-days{

    font-size: 24px;


}

.fa-chart-simple{
    font-size: 24px;
}

.fa-gear{
    font-size: 24px;


}